GOOGLE_CLIENT_ID=<google_client_id>
POSTGRES_DB=nom_de_base_de_données
POSTGRES_USER=nom_utilisateur
POSTGRES_PASSWORD=suprss_password
DATABASE_URL=postgresql://nom_utilisateur:mot_de_passe@database:5432/base_de_données
REACT_APP_GOOGLE_CLIENT_ID=<google_client_id>
