echo "node_modules/
*.pbf
osrm-data/
trafine-data/
__pycache__/
*.log
*.sqlite3
*.db
.env" > .gitignore
echo "osrm-data/*" >> .gitignore
echo "*.pbf" >> .gitignore
git rm -r --cached osrm-data/
git add .gitignore
git commit -m "Ignore les fichiers lourds"
osrm-data/
osrm-backend/data/
